

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    background-color: palegoldenrod;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    bottom: 0px;
}

img {
    height: 200px;
    width: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: green;
}
